global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'flask_app'
    static_configs:
      - targets: ['host.docker.internal:5000']

  - job_name: 'pushgateway'
    metrics_path: /metrics
    static_configs:
      - targets: ['pushgateway:9091']

rule_files:
  - "/etc/prometheus/alert_rules.yml"
