# prometheus.yml
global:
  scrape_interval: 15s
  evaluation_interval: 15s
  scrape_timeout: 10s

rule_files:
  - "/etc/prometheus/alert_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'flask_apps'
  metrics_path: /metrics
  static_configs:
    - targets: ['localhost:5000','localhost:5005']
    

  - job_name: 'pushgateway'
    metrics_path: /metrics
    static_configs:
      - targets: ['pushgateway:9091']
